@charset "UTF-8";

footer{
    height: auto;
    background-color: #1a1a1b;
    text-align: center;
    color: #EFFFFF;
    width: 100%;
    padding: 20px ;
}

footer p{
    display: inline;
    padding: 10px;
}

footer p > a{
    text-decoration: none;
    color: #EFFFFF;
}

footer p > a:hover{
    color: #6090d7;
    text-decoration: underline;
}